<div class="w-8/12 m-auto text-center lg:text-left">
    <div class="article mt-5 mb-5 grid gap-4 grid-cols-3 lg:grid-cols-4">
        <img src="../assets/images/featured.jpg" alt="" class="hover:opacity-75 rounded col-span-1 hidden lg:block">
        <div class="input-form  col-span-4 lg:col-span-3">
            <a href="#" class="text-xl text-blue-600">Mistakes You’ll Never Make Again</a>
            <p class="text-sm text-blue-900">created at: <span>2012/5/5</span> - Category: <span>IT</span></p>
            <p class="text-md truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. At perferendis eaque
                est
                numquam
                necessitatibus
                facere qui dolorem ab autem, vitae totam? Doloremque, esse?</p>
        </div>
    </div>
    <div class="article mt-5 mb-5 grid gap-4 grid-cols-3 lg:grid-cols-4">
        <img src="../assets/images/featured.jpg" alt="" class="hover:opacity-75 rounded col-span-1 hidden lg:block">
        <div class="input-form  col-span-4 lg:col-span-3">
            <a href="#" class="text-xl text-blue-600">Mistakes You’ll Never Make Again</a>
            <p class="text-sm text-blue-900">created at: <span>2012/5/5</span> - Category: <span>IT</span></p>
            <p class="text-md truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. At perferendis eaque
                est
                numquam
                necessitatibus
                facere qui dolorem ab autem, vitae totam? Doloremque, esse?</p>
        </div>
    </div>
    <div class="article mt-5 mb-5 grid gap-4 grid-cols-3 lg:grid-cols-4">
        <img src="../assets/images/featured.jpg" alt="" class="hover:opacity-75 rounded col-span-1 hidden lg:block">
        <div class="input-form  col-span-4 lg:col-span-3">
            <a href="#" class="text-xl text-blue-600">Mistakes You’ll Never Make Again</a>
            <p class="text-sm text-blue-900">created at: <span>2012/5/5</span> - Category: <span>IT</span></p>
            <p class="text-md truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. At perferendis eaque
                est
                numquam
                necessitatibus
                facere qui dolorem ab autem, vitae totam? Doloremque, esse?</p>
        </div>
    </div>
    <div class="article mt-5 mb-5 grid gap-4 grid-cols-3 lg:grid-cols-4">
        <img src="../assets/images/featured.jpg" alt="" class="hover:opacity-75 rounded col-span-1 hidden lg:block">
        <div class="input-form  col-span-4 lg:col-span-3">
            <a href="#" class="text-xl text-blue-600">Mistakes You’ll Never Make Again</a>
            <p class="text-sm text-blue-900">created at: <span>2012/5/5</span> - Category: <span>IT</span></p>
            <p class="text-md truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. At perferendis eaque
                est
                numquam
                necessitatibus
                facere qui dolorem ab autem, vitae totam? Doloremque, esse?</p>
        </div>
    </div>
</div>