<div class="flex justify-center">
    <div class="footer border-t-2 text-center mt-2 pt-2 pb-2 w-8/12 m-auto bottom-0 relative inset-x-auto">
        <a href="/about" class="text-lg lg:text-xl text-blue-600">/about</a>
        <span> - </span>
        <p class="inline text-lg lg:text-xl">I may also exist on those platforms (?): </p>
        <div class="links inline">
            <a href="https://twitter.com/saberhosneydev" target="_blank"><i
                    class="text-lg lg:text-xl text-blue-400 icon-twitter"></i></a>
            <a href="https://github.com/saberhosneydev" target="_blank"><i
                    class="text-lg lg:text-xl icon-github-circled"></i></a>
            <a href="https://www.reddit.com/user/SaberHosneyDev" target="_blank"><i
                    class="text-lg lg:text-xl text-red-600 icon-reddit-alien"></i></a>
        </div>

    </div>
</div>