RewriteEngine On
RewriteRule ^([^/]*)/([^/]*)/([^/]*)\.html$ /index.php?date=$1_$2&slug=$3&page=article [L]
RewriteRule ^about /index.php?page=about [L]
ErrorDocument 404 /index.php?page=404
#//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 